<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <style>
    body {
    background-image: url('../static/img/house_and_flower.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    }
    .custom-navbar {
        background-color: transparent !important;
        position: absolute; 
        top: 20px;         
        right: 20px;       
        left: auto;
    }
    .custom-navbar .navbar-brand,
    .custom-navbar .nav-link {
        color: white !important;
        font-size: 1.2rem;
    }

    
    </style>
 </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary custom-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="home.html">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="monitor.html">Monitor</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="control_panel.html">Control Panel</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="analytics.html">Analytics</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="index.html">Login</a>
            </li>
        </ul>
        </div>
    </div>
    </nav>

    <div class="d-flex justify-content-center align-items-center gap-3 text-white text-center" style="margin-top: 150px;">
        <h1 class="fw-bold display-4 mb-0">Auto Mode</h1>
        <div class="form-check form-switch m-0">
            <input class="form-check-input big-switch" type="checkbox" id="autoMode">
        </div>

    </div>
    <div class="d-flex justify-content-center align-items-center gap-3 text-white text-center" style="margin-top: 10px;">
        <div class="fw-bold display-4 mb-0">Manual Mode</div>
        
    </div>
    <div class="d-flex justify-content-center align-items-center gap-3 text-white text-center" style="margin-top: 10px;">
        
        <div class="fw-bold display-4 mb-0">Pump</div>
        <div class="form-check form-switch m-0">
            <input class="form-check-input big-switch" type="checkbox" id="pump">
        </div>
        
    </div>
    <div class="d-flex justify-content-center align-items-center gap-3 text-white text-center" style="margin-top: 10px;">
        <div class="fw-bold display-4 mb-0">Led</div>
        <div class="form-check form-switch m-0">
            <input class="form-check-input big-switch" type="checkbox" id="led">
        </div>
        
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
  </body>
</html>